<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<body>
    <%- include('components/header')  %>
    <main>
        <h1>Home</h1>
    </main>
    <%- include('components/footer') %>
</body>
</html>