<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<body>
    <%- include('components/header')  %>
    <main>
        <div class="content-form-cadastro">
            <h1>Formulario de Cadastro</h1>
            <form action="/register" method="post">
                <div class="input-name">
                    <label for="user-name"></label>
                    <input type="text" name="userName" class="user-name" placeholder="Nome completo" id="user-name">
                </div>
                <div class="input-email">
                    <label for="user-email"></label>
                    <input type="text" name="userEmail" class="user-email" placeholder="Digite seu email" id="user-email">
                </div>
                <div class="input-password">
                    <label for="user-password"></label>
                    <input type="text" name="userPassword" class="user-password" placeholder="Digite uma Senha" id="user-password">
                </div>
                <div class="input-confirm-password">
                    <label for="user-confirm-password"></label>
                    <input type="text" name="userConfirmPassword" class="user-confirm-password" placeholder="Confirmar a Senha" id="user-confirm-password">
                </div>
                <div class="content-btn">
                    <button>Cadastro</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('components/footer') %>
</body>
</html>