*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    font-family: cursive;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

:root{
    --cor-branco: rgb(255, 255, 255);
    --cor-preto: rgb(0, 0, 0);
    --cor-verde: rgb(60, 135, 41);
    --cor-vermelho: rgb(255, 0, 0);
    --cor-azul: rgb(25, 85, 105);
    --cor-cinza: rgb(98, 98, 98);
    --cor-amarelo: rgb(215, 193, 70);
}

body{
    background: var(--cor-azul);
}

.main-menu{
    width: 100%;
}

.main-menu ul{
    display: flex;
}

.main-menu ul li a{
    display: flex;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--cor-branco);
    transition: all 300ms ease-in-out;
}

.main-menu ul li a:hover{
    background: var(--cor-cinza);
}

/* Estilo do formulario de cadastro */

.content-form-cadastro{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-form-cadastro h1{
    text-align: center;
    width: 100%;
}

.content-form-cadastro form{
    width: 40%;
    background: var(--cor-branco);
    padding: 1rem 0;
}