<header>
    <div class="container">
        <nav class="main-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Cadastro</a></li>
            </ul>
        </nav>
    </div>
</header>